<nb-card>
  <nb-card-header><h1>ABOUT ME</h1></nb-card-header>
</nb-card>

<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Bio</nb-card-header>
      <nb-card-body>
        <p>Hello!</p>
        <p>
          I am Sami Chibani, a Sysadmin, Web Developer, and Junior Devops,
          living in Toulouse, in Southwest of France.
        </p>
        <p>
          I always loved Computers since I built my first one at the age of 12,
          in the early 2000's. But only in 2016 I started to live from my
          passion and became a professional Sysadmin.
        </p>
        <p>
          I got no formal college education and learned most of my skills from
          scratch. I might not know everything, but i know how to RTFM and
          always found what i needed to complete my missions.
        </p>
        <p>
          I also love to share my knowledge and started my personal blog "The IT
          Tricks", in early 2021, where I post articles about Sysadmin,
          Cloud Architecture, Devops, Linux & Windows Automation...
        </p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Infos</nb-card-header>
      <nb-card-body>
        <p>Age: <span class="stack-right">32</span></p>
        <p>Location: <span class="stack-right">Toulouse, France</span></p>
        <p>Language: <span class="stack-right">English, French</span></p>
        <p>Email: <span class="stack-right">sami.chibani.pro@gmail.com</span></p>
        <p>
          Hobbies:
          <span class="stack-right">Open Source, Sci-Fi, Martial Arts, Coffee</span>
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Systems Skills</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="70" status="info">LINUX (CentOS/Fedora/Debian/Ubuntu)</nb-progress-bar>
        <nb-progress-bar [value]="80" status="info">WINDOWS SERVER (2012 R2->2019)</nb-progress-bar>
        <nb-progress-bar [value]="60" status="info">DOCKER</nb-progress-bar>
        <nb-progress-bar [value]="70" status="info">STORMSHIELD (SNS)</nb-progress-bar>
        <nb-progress-bar [value]="50" status="info">FREEBSD</nb-progress-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Protocols & Software Skills</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="80" status="info">ACTIVE DIRECTORY / LDAP</nb-progress-bar>
        <nb-progress-bar [value]="70" status="info">DNS</nb-progress-bar>
        <nb-progress-bar [value]="70" status="info">WEB (IIS, APACHE, NGINX)</nb-progress-bar>
        <nb-progress-bar [value]="80" status="info">VIRTUALISATION (HYPER-V)</nb-progress-bar>
        <nb-progress-bar [value]="60" status="info">CONTAINERS (DOCKER/PODMAN)</nb-progress-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Coding Skills</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="75" status="info">ANGULAR</nb-progress-bar>
        <nb-progress-bar [value]="75" status="info">C# / .NET CORE</nb-progress-bar>
        <nb-progress-bar [value]="65" status="info">BASH</nb-progress-bar>
        <nb-progress-bar [value]="85" status="info">POWERSHELL</nb-progress-bar>
        <nb-progress-bar [value]="50" status="info">PYTHON</nb-progress-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Automation Skills</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="70" status="info">ANSIBLE</nb-progress-bar>
        <nb-progress-bar [value]="50" status="info">KUBERNETES</nb-progress-bar>
        <nb-progress-bar [value]="50" status="info">JENKINS</nb-progress-bar>
        <nb-progress-bar [value]="60" status="info">GIT</nb-progress-bar>
        <nb-progress-bar [value]="80" status="info">POWERSHELL DSC</nb-progress-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div id="map" class="map"></div>
