<!-- BYG -->

<nb-card>
  <nb-card-header><h1>EXPERIENCE</h1></nb-card-header>
</nb-card>

<nb-reveal-card #revealByg>
  <nb-card-front>
    <nb-card accent="success" size="medium">
      <nb-card-header>AUGUST 2018 - PRESENT</nb-card-header>
      <nb-card-body>
        <h1 class="text-center">BYG INFORMATIQUE</h1>
        <div class="img-container">
          <img
            class="fit-picture"
            src="/assets/byg_logo.jpg"
            alt="BYG INFORMATIQUE"
            (click)="toggleByg()"
          />
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="primary" size="medium">
      <nb-card-header>Network and Systems Administrator</nb-card-header>
      <nb-card-body>
        <p><span class="bold">Objectifs</span></p>
        <p>
          Faire évoluer et maintenir en conditions opérationnelles
          l'infrastructure systèmes et le parc informatique. Assurer le support
          utilisateur. Développer les outils internes.
        </p>
        <h3>Missions</h3>
        <ul>
          <li>
            Administration et maintien en conditions opérationnelles de serveurs
            hétérogènes (Windows Server 2012 R2/2016/2019, Debian, CentOS).
          </li>
          <li>Gestion et renouvellement du parc informatique (Windows 10).</li>
          <li>
            Migration vers une infrastructure de type cloud hybride (Microsoft
            365).
          </li>
          <li>Développement des outils internes (Angular / .NET Core).</li>
          <li>
            Mise en place d'une infrastructure de virtualisation en cluster (SAN
            Dell/Hyperviseur Hyper-V).
          </li>
          <li>
            Refonte et migration des contrôleurs de domaine (Active Directory
            2008 à 2019).
          </li>
          <li>
            Interconnexion Site à Site et sécurisation des échanges (Stormshield
            Network Security).
          </li>
          <li>
            Formation des utilisateurs aux outils cloud et à la sécurité des
            données.
          </li>
          <li>
            Mise en place et refonte de la stratégie de sauvegarde des données
            (Nakivo).
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

<!-- YES -->

<nb-reveal-card #revealYes>
  <nb-card-front>
    <nb-card accent="success" size="medium">
      <nb-card-header>FEBRUARY 2018 - JULY 2018</nb-card-header>
      <nb-card-body>
        <h1 class="text-center">YES</h1>
        <div class="img-container">
          <img
            class="fit-picture"
            src="/assets/yes_logo.png"
            alt="YES SHERPA"
            (click)="toggleYes()"
          />
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="primary" size="medium">
      <nb-card-header>Network and Systems Administrator</nb-card-header>
      <nb-card-body>
        <p><span class="bold">Objectifs</span></p>
        <p>
          Installer, faire évoluer et maintenir en conditions opérationnelles
          des plateformes SharePoint/Online en interne ainsi que pour les
          clients finaux.
        </p>
        <h3>Missions</h3>
        <ul>
          <li>
            Accompagnement des besoins clients dans leur déploiement de
            plateformes SharePoint (2013, 2016, Online).
          </li>
          <li>
            Écriture de scripts Powershell nécessaires à l'ensemble des
            opératons de déploiement et de maintenance.
          </li>
          <li>Analyse et gestion d'incidents dans le cadre des SLA.</li>
          <li>
            Formation des utilisateurs à l'utilisation et la gestion des
            solutions SharePoint chez les clients.
          </li>
          <li>
            Assurer l'évolution et le maintien en conditions opérationnelles de
            l'infrastructure systèmes interne (Windows Server 2012/2016).
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

<!-- ENSFEA -->

<nb-reveal-card #revealEnfa>
  <nb-card-front>
    <nb-card accent="success" size="medium">
      <nb-card-header>AUGUST 2017 - JANUARY 2018</nb-card-header>
      <nb-card-body>
        <h1 class="text-center">ENSFEA</h1>
        <div class="img-container">
          <img
            class="fit-picture-large"
            src="/assets/ensfea_logo.png"
            alt="ENSFEA"
            (click)="toggleEnfa()"
          />
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="primary" size="medium">
      <nb-card-header>Network and Systems Administrator</nb-card-header>
      <nb-card-body>
        <p><span class="bold">Objectifs</span></p>
        <p>
          Gestion d'un projet de migration des contrôleurs de domaine vers un
          annuaire Samba 4. Refonte des serveurs de fichiers et mise en place de
          la stratégie de sécurité appliquée aux utilisateurs.
        </p>
        <h3>Missions</h3>
        <ul>
          <li>
            Administration de serveurs Linux (Debian,OpenSUSE) sur réseau de
            taille moyenne (400 postes).
          </li>
          <li>
            Mise en place et administration d'un contrôleur de domaine Samba 4.
          </li>
          <li>
            Écriture de scripts Bash afin d'assurer la migration des données et
            les tests de compatibilité.
          </li>
          <li>
            Mise en place et administration d'un serveur de fichier Samba,
            planification de sauvegardes et application de la stratégie de
            sécurité des accès utilisateurs.
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

<!-- LDNR -->

<nb-reveal-card #revealLdnr>
  <nb-card-front>
    <nb-card accent="success" size="medium">
      <nb-card-header>OCTOBER 2016 - JULY 2017</nb-card-header>
      <nb-card-body>
        <h1 class="text-center">LDNR</h1>
        <div class="img-container">
          <img
            class="fit-picture-large"
            src="/assets/ldnr_logo.jpg"
            alt="LDNR"
            (click)="toggleLdnr()"
          />
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="primary" size="medium">
      <nb-card-header>Junior Network and Systems Administrator</nb-card-header>
      <nb-card-body>
        <h3>Formation</h3>
        <ul>
          <li>Maintenir en état opérationnel le parc informatique.</li>
          <li>
            Intervenir sur des réseaux informatiques de 100 à 350 postes en
            autonomie complète ou sous la supervision d’un administrateur senior
            pour des réseaux de taille plus importante.
          </li>
          <li>
            Administrer et assurer le fonctionnement et l’exploitation d’un ou
            plusieurs éléments matériels ou logiciels (outils, réseaux, bases de
            données, messagerie, serveur Web, serveur de fichiers …) de
            l’entreprise.
          </li>
          <li>
            Assurer la cohérence, l’accessibilité et la sécurité des
            informations sur des systèmes Windows ou Gnu/Linux.
          </li>
          <li>
            Former et assister les utilisateurs du réseau à l’utilisation d’un
            système d’exploitation et des logiciels libres.
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
