h1 {
  text-align: center;
}

.bold {
  font-size: 1.8rem;
  font-weight: 700;
}

.img-container{
  text-align: center;
}

.fit-picture {
  width: 250px;
  cursor: zoom-in;
}

.fit-picture-large {
  width: 350px;
  cursor: zoom-in;
}
