
.container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.giant {
  font-size: 80px ;
  font-weight: 900 ;
}

.bold {
  font-weight: 900;
}
